**/compression-algorithm/algorithms/target/**
**/compression-algorithm/algorithms/.classpath/**
**/compression-algorithm/algorithms/.settings/**
**/compression-algorithm/algorithms/nbproject/**
**/compression-algorithm/algorithms/.project/**
**/compression-algorithm/algorithms/.vscode/**
**/compression-algorithm/gradle/**

